# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
venv/
.env
.venv/
data/
.npm/
.local/
.config/
.cache/
.vscode-server/

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-debug.log
.DS_Store
/.pnp
.pnp.js

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS Specific
Thumbs.db
.DS_Store
